asgiref
asttokens
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
crispy-bootstrap4
cryptography
decorator
Django
django-allauth
django-bootstrap4
django-crispy-forms
django-extensions
django-js-asset
django-markdownx
django-mptt
executing
gunicorn
idna
ipython
jedi
Markdown
matplotlib-inline
packaging
parso
pillow
prompt_toolkit
psycopg2-binary
pure_eval
pycparser
Pygments
PyJWT
requests
setuptools
soupsieve
sqlparse
stack-data
traitlets
tzdata
urllib3
wcwidth

